<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <input id="name" type="text" value="Name here!" name="name" />
      <input id="ingredients" type="text" value="Ingredients here!" name="ingredients" />
      <input id="cook_time" type="text" value="Cook Time here!" name="cook_time" />
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
